body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#box {
  border: 4px solid;
  border-radius: 50%;
  padding: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#form {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}
#l-m {
  margin: 20px;
}

#submit {
  margin-top: 30px;
  border-radius: 60px;
  padding: 20px 45px 20px 35px;
  background-color: black;
  color: white;
  font-size: 24px;
}

#p-div {
  margin-top: 20px;
  max-height: 200px;
  max-width: 400px;
  word-wrap: break-word;
  overflow-y: scroll;
}
